# Files that will always have CRLF line endings.
*.sln text eol=crlf
*.suo text eol=crlf
*.vsto text eol=crlf

# Binaries
*.exe binary

# Files committed with LF. On checkout, they are converted to the OS's native line endings.
* text
