<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheySay.Excel.Excel" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheySay.Excel.Excel" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheySay.Excel.Excel>
            <setting name="Username" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ApiEndpoint" serializeAs="String">
                <value>http://api.theysay.io</value>
            </setting>
            <setting name="TheySayMainSite" serializeAs="String">
                <value>http://theysay.io/</value>
            </setting>
            <setting name="LogEntries" serializeAs="String">
                <value>10000</value>
            </setting>
        </TheySay.Excel.Excel>
    </userSettings>
    <applicationSettings>
        <TheySay.Excel.Excel>
            <setting name="WarnThreshold" serializeAs="String">
                <value>10</value>
            </setting>
        </TheySay.Excel.Excel>
    </applicationSettings>
</configuration>